<ejs-treegrid
  [dataSource]="data"
  [allowResizing]="true"
  [contextMenuItems]="contextMenuItems"
  [allowSorting]="true"
  [allowExcelExport]="true"
  [allowPdfExport]="true"
  [treeColumnIndex]="1"
  [editSettings]="editSettings"
  [allowReordering]="true"
  [showColumnMenu]="true"
  [allowFiltering]="true"
  [filterSettings]="filterSettings"
  [selectionSettings]="selectionSettings"
  height="93vh"
  width="auto"
>
  <e-columns>
    <e-column field="id" headerText="Id" width="100"></e-column>
    <e-column field="email" headerText="Email" width="200"></e-column>
    <e-column field="first" headerText="First Name" width="150"></e-column>
    <e-column field="last" headerText="Last Name" width="150"></e-column>
    <e-column field="company" headerText="Company" width="230"></e-column>
    <e-column field="created_at" headerText="Created At" width="200"></e-column>
    <e-column field="country" headerText="Country" width="280"></e-column>
  </e-columns>
</ejs-treegrid>
